.DS_Store
node_modules
dist
temp

## local test files
tests/e2e/local/vars.json
tests/e2e/local/storage.json
tests/e2e/videos/*
tests/e2e/screenshots/*

# local env files
*local*
.env.development
package-lock.json

# Log files
*.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*